h1{
    text-align: center;
    margin: 12px;
}

.myform{
    display: flex;
    flex-direction: column;
    /* width: 50%; */
    justify-content: center;
    align-items: center;
    /* margin: auto; */
}

.myinput{
    border-radius: 6px;
    border-style: dashed;
    width: 370px;
    margin: 3px;
    padding: 4px;
    outline: none;
}

.btn{
    margin: 5px;
    padding: 2px 10px;
    color: white;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.835);
    font-size: large;
}

.btn:hover{
    transform: scale(1.08);
    transition: all ease-in-out 0.13s;
    cursor: pointer;
}

.container{
    min-height: 75vh;
    position: relative;
    top: 1.5cm;
}

.container h1{
    width: 20%;
    margin: auto;
    margin-bottom: 4px;
    color: white;
    background-color: black;
    border-radius: 14px;
    border: 2px dotted white;
}